.forgot-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 2rem;
}
.forgot-container #logo{
    cursor: pointer;
    padding: 6px;
    margin-left: -6px;
    border-radius: 50%;
}
.forgot-container #logo:hover{
    background-color: #f2f2f2;
}
.forgot-container input{
    width: 100%;
}
.forgot-container input{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 12px;
}
.forgot-container input:hover{
    border: 1px solid rgb(112, 112, 112);
}
.forgot-container input:focus{
    border: 1px solid #6c4df7;
}
.forgot-container form p{
    font-weight: 500;
    margin-bottom: 5px;
}
.forgot-container form div{
    margin-bottom: 1rem;
}
#reset-password, #reset-password-loading{
    background-color: #6c4df7;
    border: none;
    padding: 10px 0;
    color: white;
    border-radius: 20px;
    width: 100%;
    margin-top: 1.5rem;
}
#reset-password-loading{
    padding: 6px 0;
}
#reset-password:hover{
    background-color: #512df1;
}
.email-error{
    margin-bottom: 1rem;
    display: flex;
    gap: 3px;
}
.email-error img{
    width: 16px;
    height: 16px;
}
.email-error p{
    color: red;
}
#back-button{
    background-color: #6c4df7;
    border: none;
    padding: 10px 0;
    color: white;
    border-radius: 20px;
    width: 100%;
    margin-top: 1.5rem;
}
#back-button:hover{
    background-color: #512df1;
}
#h3-successfull, #p-successfull{
    color: rgb(22, 168, 3);
}