.home{
    background-color: #1c1c1d;
    min-height: calc(100vh - 51px);
    display: flex;
    justify-content: center;
    color: #e2e5e9;
}
.sidebar{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    min-width: 250px;
    position: sticky;
    top:52px;
    height: fit-content;
}
.sidebar span{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 0.1s;
}
.sidebar span:hover{
    background-color: #6c4df7;
    transform: translateX(-5px);
    cursor: pointer;
}
.sidebar span img{
    width: 32px;
    height: auto;
}
.sidebar-active{
    background-color: #6c4df7;
}
.sidebar span #sidebar-avatar-logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.sidebar span p{
    font-size: 1rem;
    font-weight: 500;
}
.home-main{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    max-width: 1250px;
}
.posts-header, .title{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    border-left: 1px solid #383a3b;
    border-right: 1px solid #383a3b;
    border-bottom: 1px solid #383a3b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1rem;
    background-color: #252728;
    font-weight: 500;
}
.posts-header span{
    cursor: pointer;
}
.posts-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
}
.post{
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #252728;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px; 
}
.post-author, .post-reactions span{
    display: flex;
    gap: 10px;
    align-items: center;
}
.author-info{
    display: flex;
    flex-direction: column;
}
.author-info h5{
    margin: 0;
}
.post-photo{
    margin: 0 -10px;
}
.post-photo img{
    display: block;
    width: 100%;
    height: auto;
}
.post-reactions{
    display: flex;
    justify-content: space-between;
}
.post-reactions span{
    gap: 5px;
    padding: 5px;
    margin: -5px;
}
.post-reactions span:hover{
    background-color: #3b3d3e;
    border-radius: 5px;
    cursor: pointer;
}
.author-info p{
    font-size: 0.7rem;
}
#active{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    text-decoration-color: #50a9e0;
}
.contacts{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 1rem 2rem;
    position: sticky;
    top: 52px;
    max-height: 680px;
    overflow-y: auto;
}
.contact{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    transition: 0.1s;
}
.contact:hover{
    background-color: rgba(108, 77, 247, 0.3);
    border-radius: 5px;
    cursor: pointer;
}
.contact img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #616161; 
  border-radius: 10px;
}