.profile{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.title{
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    border-radius: 0;
    margin-bottom: 0;
}
.title p, .profile-info-details p, .profile-posts-title p{
    font-size: 1rem;
}
.profile-info{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #252728;
}
#profile-avatar-logged, #profile-avatar{
    position: relative;
    border-radius: 50%;
}
#avatar-icon-logged{
    width: 200px;
    height: 200px;
    object-fit:cover;
    object-position: center;
    border-radius: 50%;
}
#profile-avatar-logged:hover #avatar-icon-logged{
    opacity: 0.4;
    cursor: pointer;
}
#profile-avatar-logged:hover #change-avatar-icon{
    opacity: 1;
    cursor: pointer;
}
#change-avatar-icon{
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.profile-info-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.2rem;
}
.profile-info-details #name p{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
}
.profile-info-details span{
    display: flex;
    gap: 4px;
}
.popularity{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
}
.popularity span{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popularity span #number{
    font-weight: 700;
}
.actions{
    display: flex;
    margin-top: 0.7rem;
    width: 85%;
    gap: 10px;
}
.actions button{
    outline: none;
    border-radius: 20px;
}
#follow{
    background-color: #6c4df7;
    border: none;
    padding: 10px 0;
    color: white;
    border-radius: 20px;
    width: 100%;
}
#follow:hover{
    background-color: #512df1;
}
.actions #comment img{
    width: 22px;
}
.actions #comment:hover{
    background-color: white;
}
.actions #comment:hover img{
    filter: invert(1);
}
.actions #comment{
    border: 1px solid white;
    background-color: transparent;
    padding: 0 15px;
}
.profile-posts{
    display: flex;
    flex-direction: column;
}
.profile-posts-title{
    display: flex;
    padding: 1rem;
    justify-content: center;
    padding-left: 1rem;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #383a3b;
    background-color: #252728;
    margin-bottom: 1rem;
}
.user-error{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.user-error p{
    font-size: 1rem;
}
#unfollow{
    background-color: #1ca709;
    border: none;
    padding: 10px 0;
    color: white;
    border-radius: 20px;
    width: 100%;
    position: relative;
}
#unfollow:hover{
    background-color: #b9092f;
    color: transparent;
}
#unfollow:hover::after{
    content: "Unfollow";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.create-post-on-profile{
    margin-bottom: 1rem;
}